<body>
    <div><img style="border-radius: 30px; margin-left: 35%;" width="400px" height="auto" src="../assets/logo.png" alt=""></div>
    <div class = "main-container">
        <!-- <div class = "grid-item">
            <div class="grid-button column" >
                <img height="180px" src="assets/profile.png" alt="">
                <div><h1>Profile</h1></div>
            </div>
        </div> -->
        <div class = "grid-item">
            <div class="grid-button column" (click)="navigatePage('find-parking')">
                <img height="75%" width="100%" src="assets/find.png" alt="">
                <div><h1>Find Parking</h1></div>
            </div>
        </div>

        <div class = "grid-item">
            <div class="grid-button column" (click)="navigatePage('report-parking')">
                <img height="75%" width="100%" src="assets/post.png" alt="">
                <div><h1>Add Parking</h1></div>
            </div>
        </div>

        <!-- <div class="grid-item grid-button">
            <h1>Other</h1>
        </div> -->
    </div>
</body>

