body{
    /* background-image: url('src/assets/background1.png'); */
    background-blend-mode: difference;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    margin-left: 0px;
    height: 96vh;
    overflow: hidden;
}
.main-container{
    margin-left: 5%;
    width: 90%;
    height: 80vh;
    border-radius: 10px;
    /* background-color: rgb(239, 232, 198); */
    /* background-color: rgb(236, 215, 167); */
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
}

.grid-button{
    color: black;
    margin-top: 10%;
    margin-left: 10%;
    width: 80%;
    height: 60%;
    /* border-radius: 20px; */
    background-color: rgb(240, 240, 240);
    cursor: pointer;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.grid-button h1{
    font-weight: bold;
}

.grid-button:hover{
    transform: scale(1.05);
}

.column{
    display: flex;
    flex-direction: column;
}